<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about connection application with IdAMan Pertamina. <a href="https://github.com/suwanda90/pertamina-idaman" target="_blank">Sample Source</a>.</p>
</div>
