@model Web.ViewModels.RoleAppViewModel

<form asp-action="Create" method="post">
    <input type="text" class="form-control" asp-for="Name" required>
    <br />
    <button class="btn btn-success">Submit</button>
</form>