@model List<Web.ViewModels.RoleAppViewModel>
<h3>List Role</h3>
<p>
    <a asp-action="Create" class="btn btn-success">Create</a>
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@Html.Raw(item.Name)</td>
</tr>}
</table>